<!DOCTYPE html>
<html id="home" lang="en">
  <head>
    <title>Laundry</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />


    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/screen.css" />
    <script src="./static/main.js"></script>
  </head>

  <body>
    <div id="mainApp">
      <div class="rel">
        <router-link class="btn btn-primary btn-sm" to="/signup">Sign Up</router-link>
        <router-link class="btn btn-primary btn-sm" to="/login">Login</router-link>
      </div>
      <header id="header">
        <router-link to="/"><h1>LaundryLift</h1></router-link>

        <div id="navigation">
            <router-link class="separate" to="/">Home</router-link>
            <router-link class="separate" to="/pickup">Request Pick-up</router-link>
            <router-link class="separate" to="/about">About Us</router-link>
            <router-link class="separate" to="/contact">Contact</router-link>
        </div>
      </header>
      <router-view></router-view>


      <footer id="footer">
      </footer>
    </div>
  </body>


  <template id="signup">
    <div>
      <h2>Sign Up</h2>

      <p>
        <form>
          <div class="form-group">
            <label for="fname">First Name:</label>
            <input type="text" class="form-control" id="fname" placeholder="John">

            <label for="lname">Last Name:</label>
            <input type="text" class="form-control" id="lname" placeholder="Smith">

            <label for="emailAddress">Email:</label>
            <input type="email" class="form-control" id="emailAddress" placeholder="name@example.com">

            <label for="passwordIn">Password:</label>
            <input type="password" class="form-control" id="passwordIn" placeholder="password">
          </div>
          <router-link class="btn btn-primary btn-lg" to="/">Sign Up</router-link>
        </form>
      </p>
    </div>
  </template>


  <template id="login">
    <div>
      <h2>Login</h2>

      <p>
        <form>
          <div class="form-group">
            <label for="emailAddress">Email:</label>
            <input type="email" class="form-control" id="emailAddress" placeholder="name@example.com">

            <label for="passwordIn">Password:</label>
            <input type="password" class="form-control" id="passwordIn" placeholder="password">
          </div>
          <router-link class="btn btn-primary btn-lg" to="/">Login</router-link>
        </form>
      </p>
    </div>
  </template>


  <template id="homeV">
    <div>
      <h2>Home</h2>

      <p>
        Welcome to Laundry which is a service for busy people like you
        to have your laundry picked up and washed for you and then dropped
        off for you at your convienice.
      </p>
      <p>
        Fell free to make a free account and try our service out.
      </p>

      <router-link class="btn btn-primary btn-lg" to="/signup">Sign Up</router-link>
      <!-- <button type="button" class="btn btn-primary btn-lg">Sign Up</button> -->
    </div>
  </template>


  <template id="pickup">
    <div>
      <h2>Pick-Up</h2>

      <p>
      </p>
    </div>
  </template>


  <template id="about">
    <div>
      <h2>About Us</h2>

      <p>
        Welcome to Laundry which is a service for busy people like you
        to have your laundry picked up and washed for you and then dropped
        off for you at your convienice.
      </p>

      <br />

      <p>
        Fell free to make a free account and try our service out.
      </p>
    </div>
  </template>


  <template id="contact">
    <div>
      <h2>Contact Us</h2>

      <div>
        Address:
      </div>
      <div>
        Laundry
      </div>
      <div>
        1234 Michigan Ave.
      </div>
      <div>
        Chicago, 60615
      </div>

      <br />

      <div>
        Email:
      </div>
      <div id="email">
        support@laundry.com
      </div>

      <br />

      <div>
        Phone Number:
      </div>
      <div>
        (708)-432-0192
      </div>
    </div>
  </template>


  <template id="profile">
    <div>
      <h2>Profile</h2>

      <p>
      </p>
    </div>
  </template>
</html>
